<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../css/iconfont.css">
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
<div id="container" class="container">

    <!--topImg-->
    <img class="topImg" src="../images/1_1.jpg" alt="">

    <div class="content">
        <div class="form">
            <div class="form-item">
                <div class="form-key">
                    <span class="ask">*</span>
                    <span class="key-text">姓名：</span>
                </div>
                <div class="form-val">
                    <input class="form-input" id="name" maxlength="30" type="text" placeholder="请填写您的姓名">
                </div>
            </div>
            <div class="form-item">
                <div class="form-key">
                    <span class="ask">*</span>
                    <span class="key-text">性别：</span>
                </div>
                <div class="form-val">
                    <div class="select-wra">
                        <select class="form-input form-select" id="sex">
                            <option value="">请选择性别</option>
                            <option value="男">男</option>
                            <option value="女">女</option>
                        </select>
                        <div class="icon iconfont icon-fangxiangxia"></div>
                    </div>
                </div>
            </div>
            <div class="form-item">
                <div class="form-key">
                    <span class="ask">*</span>
                    <span class="key-text">身高：</span>
                </div>
                <div class="form-val">
                    <input class="form-input" id="height" maxlength="30" type="text" placeholder="单位:cm">
                </div>
            </div>
            <!--<div class="form-item">-->
            <!--<div class="form-key">-->
            <!--<span class="ask">*</span>-->
            <!--<span class="key-text">身份证号：</span>-->
            <!--</div>-->
            <!--<div class="form-val">-->
            <!--<input class="form-input" id="idCard" maxlength="18" type="text" placeholder="">-->
            <!--</div>-->
            <!--</div>-->
            <div class="form-item">
                <div class="form-key">
                    <span class="ask">*</span>
                    <span class="key-text">手机号码：</span>
                </div>
                <div class="form-val">
                    <input class="form-input" id="mobile" maxlength="20" type="text" placeholder="国际号码请添加区号">
                </div>
            </div>
            <div class="form-item">
                <div class="form-key">
                    <span class="ask">*</span>
                    <span class="key-text">身份证号码：</span>
                </div>
                <div class="form-val">
                    <input class="form-input" id="idCard" maxlength="18" type="text" placeholder="请填写您的身份证号码">
                </div>
            </div>
            <div class="form-item">
                <div class="form-key">
                    <span class="ask">*</span>
                    <span class="key-text">最高学历毕业院校：</span>
                </div>
                <div class="form-val">
                    <input class="form-input" id="graduationSchool" maxlength="50" type="text" placeholder="请填写您最高学历毕业院校全称">
                </div>
            </div>
            <div class="form-item">
                <div class="form-key">
                    <span class="ask">*</span>
                    <span class="key-text">最高学历专业：</span>
                </div>
                <div class="form-val">
                    <input class="form-input" id="major" maxlength="50" type="text" placeholder="请填写您最高学历专业全称">
                </div>
            </div>
            <div class="form-item">
                <div class="claim">
                    <div class="claim-title">拍摄视频注意事项：</div>
                    <div class="dec">一、拍摄要求：</div>
                    <div class="text">1.视频时长为不超过3分钟；</div>
                    <div class="text">2.拍摄环境要求安静不被打扰，保证收音清晰，尽可能减少噪音；</div>
                    <div class="text">3.个人着装整洁，五官清晰，不戴口罩、墨镜、帽子等；</div>
                    <div class="text">4.镜头开始须全身入镜站立，再走到镜头前坐下，屏幕显示为上半身；</div>
                    <div class="text">5.视频按面试内容顺序一气呵成拍摄，不作剪辑美化。</div>
                    <div class="text">6.小视频一旦提交，即不能修改。视频（不超过100M）</div>
                    <div class="dec">二、面试小视频的内容顺序：</div>
                    <div class="text">1.请您进行1分钟的自我介绍，其中包含个人基本情况介绍，应聘我行的原因及个人职业规划等。</div>
                    <div class="text">2.请您选择以下其中一个问题进行回答：</div>
                    <div class="text">A.请您分享一个您成长中曾经遇到的最大的挑战，并说说您是怎么解决的。</div>
                    <div class="text">B.请您结合校园实践经验或实习经验分享一个您参与的项目工作，并描述您在其中承担的职责及最后取得了怎样的成绩。</div>
                    <div class="dec">如在拍摄过程中遇到问题，请您通过短信或邮件的方式与我司联系：</div>
                    <div class="text">联系人：黎小姐</div>
                    <div class="text">工作日联系电话（周一至周六）：020-28304808-88855</div>
                    <div class="text">联系邮箱（全天）：li.xinlan@zhaopin.com.cn</div>
                </div>
            </div>
            <div class="form-item upload-wra">
                <div class="form-key">
                    <span class="ask">*</span>
                    <span class="key-text">上传简历：</span>
                </div>
                <div class="form-val">
                    <div class="upload-btn" id="upload-btn1">
                        <div class="hor"></div>
                        <div class="ver"></div>
                        <div class="size">(PDF\WORD等格式)</div>
                    </div>
                    <div class="resume-wra" id="resume-wra">
                        <input class="resume-text" readonly>
                        <div class="close" id="close1">×</div>
                    </div>
                </div>
            </div>

            <div class="form-item upload-wra">
                <div class="form-key">
                    <span class="ask">*</span>
                    <span class="key-text">上传生活照：</span>
                </div>
                <div class="form-val">
                    <div class="upload-btn" id="upload-btn3">
                        <div class="hor"></div>
                        <div class="ver"></div>
                        <div class="size">(请您在此上传您本人的全身生活照，照片大小请不要超过300K)</div>
                    </div>

                    <div class="lifePhotos-wra" id="lifePhotos-wra">
                        <img class="lifePhotos" src="">
                        <div class="close" id="close3">×</div>
                    </div>
                </div>
            </div>

            <div class="form-item upload-wra">
                <div class="form-key">
                    <span class="ask">*</span>
                    <span class="key-text">上传面试视频：</span>
                </div>
                <div class="form-val">
                    <div class="upload-btn" id="upload-btn2">
                        <div class="hor"></div>
                        <div class="ver"></div>
                        <div class="size">(不超过100M)</div>
                    </div>

                    <div class="video-wra" id="video-wra">
                        <video class="video" src="" controls></video>
                        <div class="close" id="close2">×</div>
                    </div>
                </div>
            </div>

            <div class="form-item">
                <div class="submit-btn" id="submit-btn">提交</div>
            </div>
        </div>
    </div>
</div>

<script src="../scripts/lib/jquery-2.2.2.min.js"></script>
<script src="../scripts/lib/common.js"></script>
<script src="../scripts/plugins/layui/layui.all.js"></script>
<script>
    // var ip = 'http://192.168.1.20:7777';
    var ip = 'https://partner-api.ebiaoji.com';
    var myMsg;
    var myMsg2;
    var resumeUrl = '';    // 简历url
    var lifePhotos = '';    // 生活照url
    var videoUrl = '';    // 面试视频url

    layui.use('upload', function(){
        var upload = layui.upload;
        uploadFunc('#upload-btn1',1,102400);
        uploadFunc('#upload-btn2',2,102400);
        uploadFunc('#upload-btn3',3,300);
        function uploadFunc (item,type,size) {
            if (window.screen.width <= 800) {
                layui.layer.msg('请在电脑上上传简历及面试视频', {icon: 5,anim: 6});
                return;
            }
            var uploadInst = upload.render({
                elem: item,
                url: ip + '/upload/ignGznshUpload',
                size: size,
                accept: 'file',
                before: function(obj){
                    myMsg = layui.layer.load(1, {
                        shade: [0.4,'#000'] //0.1透明度的白色背景
                    });
                },
                done: function(res){
                    layui.layer.close(myMsg);
                    if (res.status == 200) {
                        if (type == 1) {
                            resumeUrl = res.src;
                            $('.resume-text').val(resumeUrl);
                            $('#upload-btn1').hide();
                            $('#resume-wra').show();
                        } else if (type == 2) {
                            videoUrl = res.src;
                            $('.video').attr('src',videoUrl);
                            $('#upload-btn2').hide();
                            $('#video-wra').show();
                        } else {
                            lifePhotos = res.src;
                            $('.lifePhotos').attr('src',lifePhotos);
                            $('#upload-btn3').hide();
                            $('#lifePhotos-wra').show();
                        }
                    }
                },
                error: function(){
                    layui.layer.close(myMsg);
                }
            });
        }

    });

    // 删除上传简历
    $('#close1').on('click',function () {
        resumeUrl = '';
        $('.resume-text').val('');
        $('#resume-wra').hide();
        $('#upload-btn1').show();
    });


    // 删除上传视频
    $('#close2').on('click',function () {
        videoUrl = '';
        $('.video').attr('src','');
        $('#video-wra').hide();
        $('#upload-btn2').show();
    });

    // 删除上传生活照
    $('#close3').on('click',function () {
        lifePhotos = '';
        $('.lifePhotos').attr('src','');
        $('#lifePhotos-wra').hide();
        $('#upload-btn3').show();
    });

    $('#submit-btn').on('click',function () {
        // var cutoffDate = new Date('2020/03/24 13:00:00');
        // var currentDate = new Date();
        // if (currentDate - cutoffDate >= 0) {
        //     layui.layer.msg('提交时间已截止', {icon: 5,anim: 6});
        //     return false;
        // }
        var name = $('#name').val();
        var sex = $('#sex').val();
        var height = $('#height').val();
        var mobile = $('#mobile').val();
        var idCard = $('#idCard').val();
        var graduationSchool = $('#graduationSchool').val();
        var major = $('#major').val();
        var reg2 = /(^\d{18}$)|(^\d{17}(\d|X|x)$)/;
        var reg3 = /.*@.*/;

        if ($.trim(name) == "") {
            layui.layer.msg('请填写您的姓名', {icon: 5,anim: 6});
            return;
        }

        if ($.trim(sex) == "") {
            layui.layer.msg('请选择您的性别', {icon: 5,anim: 6});
            return;
        }

        if ($.trim(height) == "") {
            layui.layer.msg('请填写您的身高', {icon: 5,anim: 6});
            return;
        }

        if ($.trim(mobile) == "") {
            layui.layer.msg('请输入您的手机号码', {icon: 5,anim: 6});
            return;
        }

        if ($.trim(idCard) == "") {
            layui.layer.msg('请填写您的身份证号码', {icon: 5,anim: 6});
            return;
        }

        if ($.trim(graduationSchool) == "") {
            layui.layer.msg('请填写您最高学历毕业院校全称', {icon: 5,anim: 6});
            return;
        }

        if ($.trim(major) == "") {
            layui.layer.msg('请填写您最高学历专业全称', {icon: 5,anim: 6});
            return;
        }



        if ($.trim(resumeUrl) == "") {
            layui.layer.msg('请上传简历', {icon: 5,anim: 6});
            return;
        }

        if ($.trim(lifePhotos) == "") {
            layui.layer.msg('请上传生活照', {icon: 5,anim: 6});
            return;
        }

        if ($.trim(videoUrl) == "") {
            layui.layer.msg('请上传面试视频', {icon: 5,anim: 6});
            return;
        }

        myMsg2 = layer.msg('正在提交', {
            shade: 0.4,
            time:false  //取消自动关闭
        });

        $.ajax({
            type: "POST",
            url: ip + '/wap/nsbankStudentInfo/addSave',
            data: {
                "name": name,
                "sex": sex,
                "height": height,
                "mobile": mobile,
                "idCard": idCard,
                "graduationSchool": graduationSchool,
                "major": major,
                "resumeUrl": resumeUrl,
                "lifePhotos": lifePhotos,
                "videoUrl": videoUrl,
            },
            success: function (res) {
                var obj = JSON.parse(res);
                layui.layer.close(myMsg2);
                if (obj.status == 200) {
                    layui.layer.msg('提交成功', {icon: 1,anim: 0});
                    setTimeout(function () {
                        location.reload();
                    },3000)
                } else {
                    layui.layer.msg(obj.msg, {icon: 5,anim: 6});
                }
            },
            error: function (res) {
                var obj = JSON.parse(res);
                layui.layer.close(myMsg2);
                layui.layer.msg(obj.msg, {icon: 5,anim: 6});
            }
        });
    });


</script>
</body>
</html>